@media (max-width: 650px) {
  .sidebar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border: 2px solid hotpink;
  }
  intro {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border: 2px solid hotpink;
  }
}

.page-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr, 1fr 1fr 1fr;
  grid-template-rows: 100px, 1fr 1fr 1fr, 1fr;
  // grid-template-areas:
  //   'intro intro  intro'
  //   'main main main'
  //   'sidebar sidebar sidebar';
  /*grid-template-columns: 30% 70%;
    grid-template-rows: auto;*/
  background-color: aqua;
}
.intro {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  border: 2px solid hotpink;
}
.sidebar {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
/* body text */
.main {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  background-color: chartreuse;
  padding: 1em;
}
/* the road to enlightenment */
.preamble h3,
p {
  // grid-column: 3 / 4;
}
.preamble {
  background-color: orange;
  color: white;
  display: grid;
}
html {
  margin: 0;
  padding: 0;
}
body {
  border: 2px solid green;
}
p {
  margin-top: 0;
  text-align: justify;
}

/* in the header- CSS Zen Garden The Beauty of CSS Design */
header {
  padding: 0.5em;

  h1 {
    text-align: center;
    color: black;
    font-size: 3em;
    margin-top: 100px;
  }
  h2 {
    color: pink;
    text-align: center;
    margin-top: -20px;
  }
}
/* a demonstration of what can be accomplished... */
.summary {
  padding: 1em;
  margin-top: -2em;
  // grid-column-start: 1;
  // grid-column-end: 3;

  p {
    margin-left: 30vw;
    margin-right: 30vw;
    text-align: center;
    color: black;
  }
}

/*This is the "by Dave Shea" section we want in the footer */
.requirements p:nth-child(6) {
  // display: grid;
  background-color: red;
  text-align: center;
  grid-column: -1 / 4;
  z-index: 1;
}
footer {
  display: grid;
  text-align: center;
  background-color: beige;
  padding: 4vw;
  position: absolute;
  left: 0;
  right: 0;
  //margin: 0;
  // width: 100%;
  // margin-top: 2em;
}

/* This is the box around the by Dave Shea section */
p[role='contentinfo'] {
  // display: grid;
  grid-column-start: 1;
  position: absolute;
  left: 0;
  right: 0;
}
p[role='contentinfo']::before {
  display: grid;
  background-color: olive;
  border: 2px solid white;
}
footer a:link,
footer a:visited {
  margin-right: 20px;
  color: black;
}
/*so what is this about?*/

// .explanation {
//   grid-column-start: 1;
// }
// /*Participation */
// .participation {
//   grid-column-start: 1;
// }
// .benefits {
//   grid-column-start: 1;
// }
// .requirements {
//   grid-column-start: 1;
// }

.sidebar {
  background-color: yellow;
  // display: grid;
  // width: 120%;
}
// /*to break the line before "by"*/
// li .design-name:nth-child(1) {
//   display: block;
// }
.sidebar .wrapper {
  border: solid 2px blue;
  // padding: 1em;
}
.sidebar h3.select {
  // font-size: 1em;
  color: purple;
}
.sidebar h3.archives {
  color: green;
  // font-size: 1em;
}
// .sidebar h3.resources {
//   color: pink;
//   font-size: 1em;
// }
// .sidebar ul {
//   margin: 0;
//   padding: 0;
//   color: black;
// }
// .sidebar li {
//   line-height: 1.3em;
//   font-size: 1em;
//   padding-top: 5px;
//   margin-bottom: 5px;
//   list-style-type: none;
//   background-color: black;
// }
// .sidebar li a:link {
//   color: #988f5e;
// }
// .sidebar li a:visited {
//   color: #b3ae94;
// }

//h3 {
// font: italic normal 1.4em georgia, sans-serif;
// letter-spacing: 1px;
// margin-bottom: 0;
// color: #7d775c;
//}
// a:link {

// }
// a:visited {

// }
// a:hover,
// a:focus,
// a:active {

// }
// abbr {

// }
